#!/usr/bin/make -f

#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1

%:
	dh $@ --with python2,python3

override_dh_auto_install:
	`pyversions -d` setup.py install \
		--install-layout=deb \
		--root=debian/python-zipkin
	`py3versions -d` setup.py install \
		--install-layout=deb \
		--root=debian/python3-zipkin

